.donationReceiverPage {
  display: flex;
  height: 100%;

  .leftContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #F8FAFC;
    padding: 20px;
    max-width: 400px;
    min-width: 400px;
    button {
      width: 200px;
    }

    .avatarImage {
      display: flex;
      justify-content: center;
      margin-top: 50px;

      img {
        width: 70%;
      }
    }

    .companyName {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }

    .socialMedia {
      .socialMediaMember {
        display: flex;
        justify-content: center;
      }
    }

    .donationCountSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
      .donationCountText {
        opacity: 0.5;
      }
    }

    .donationForm {
      margin-top: 20px;
      width: 100%;

      form {
        align-items: center;

        div {
          width: 100%;
        }
      }
    }
    
    .donationAlertMessageSection {
      margin-top: 40px;
      max-width: 350px;
    }
  }

  .rightContent {
    flex: 4;
    padding: 20px;
    background-color: white;
  }
}