.donationReceiverPage {
  display: flex;
  
  .leftContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #F8FAFC;

    button {
      width: 200px;
      margin-top: 50px;
    }
    .avatarImage {
      display: flex;
      justify-content: center;
      margin-top: 50px;

      img {
        width: 70%;
      }
    }

    .companyName {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }

    .socialMedia {
      .socialMediaMember {
        display: flex;
        justify-content: center;
      }
    }
  }

  .rightContent {
    flex: 4;
    padding: 20px;
    background-color: white;
  }
}