@tailwind base;
@tailwind components;
@tailwind utilities;
@import './ckeditor.css';

body {
  background-color: #E2E8F0;
}
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.main {
  flex: 1;
}

.appFooter {
  background-color: black;
  padding: 20px;
  color: white;
}