.donationReceiverlist {
    display: flex;
    .donationCard {
        height: 200px;
        a {
            background-color: red;
            img {
                object-fit: cover;
            }
        }
    }
}