.userProfileTab,
.donationReceiverTab,
.creditCardTab {
    padding: 20px;

    .editButtonGroup, .submitButtonGroup {
        display: flex;
        justify-content: end;
        margin-bottom: 20px;
        margin-top: 20px;

        button {
            margin-right: 10px;
        }
    }
}

.donationReceiverTab {
    .statusBadge {
        width: 150px;
        margin-bottom: 20px;

        span {
            width: 100%;

            .statusBadgeText {
                display: flex;
                justify-content: center;
            }
        }
    }
}

.creditCardTab {
    display: flex;
    justify-content: center;

    form {
        .stripeElementInput {
            background-color: #F5F5F5;
            border-radius: 8px;
            padding: 20px;
            border: 1px #9ACEDB solid;
        }
    }

}